.env
checkpoints/inference_model/inference.pdiparams
checkpoints/inference_model/inference.pdiparams.info
checkpoints/inference_model/inference.pdmodel
inference.yml
checkpoints/v3_en_mobile/config.yml
checkpoints/v3_en_mobile/iter_epoch_3.pdopt
checkpoints/v3_en_mobile/iter_epoch_3.pdparams
checkpoints/v3_en_mobile/iter_epoch_3.states
checkpoints/v3_en_mobile/iter_epoch_6.pdopt
checkpoints/v3_en_mobile/iter_epoch_6.pdparams
checkpoints/v3_en_mobile/iter_epoch_6.states
checkpoints/v3_en_mobile/iter_epoch_9.pdopt
checkpoints/v3_en_mobile/iter_epoch_9.pdparams
checkpoints/v3_en_mobile/iter_epoch_9.states
checkpoints/v3_en_mobile/latest.pdopt
checkpoints/v3_en_mobile/latest.pdparams
checkpoints/v3_en_mobile/latest.states
pretrained_model/inference_model/inference.pdiparams
pretrained_model/inference_model/inference.pdiparams.info
pretrained_model/inference_model/inference.pdmodel
pretrained_model/inference_model/inference.yml
pretrained_model/en_PP-OCRv3_rec_train.tar
pretrained_model/en_PP-OCRv3_rec_train/best_accuracy.pdopt
pretrained_model/en_PP-OCRv3_rec_train/best_accuracy.pdparams
pretrained_model/en_PP-OCRv3_rec_train/best_accuracy.states
pretrained_model/en_PP-OCRv3_rec_train/train.log